@media screen and (max-width:968px) {
    section{
        padding: 5em 15%;
    }
    nav .btn{
        display: none;
    }
    #menu{
        display: block;
    }
    .links{
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        padding: 1em 3em;
        color: #fff;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: rgba(0, 0, 0, 0.9);
        display: none;
    }
    .links a{
        margin: 2em 0;
        display: block;
        font-size: 1.5em;
        color: #fff;
    }
    .links .active{
        display: block;
    }

    #home h1{
        font-size: 4em;
    }
    #home h3{
        font-size: 2em;
    }
    #home img{
        width: 24vw;
    }
    #about{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #about img{
        width: 50vw;
    }
    #about h1{
        font-size: 3em;
    }
    #about ul{
        font-size: 1em;
    }
}

@media screen and (max-width:768px) {
     #home h1{
        font-size: 2.5em;
    }
    #home h3{
        font-size: 1.5em;
    }
    #home img{
        width: 32vw;
    }
    #about .skills{
        gap: 3em;
    }
    #services .header{
        font-size: 3em;
    }    
    #contact .header{
        font-size: 3em;
    }    
    #contact .input-box span{
        font-size: 1.2em;
    }
    .input-box input{
        padding: 0.5em 1em;
    }
    footer{
        flex-direction: column;
        gap: 5em;
        align-items: baseline;
    }
}